
<div class="statistics-panel">

    <div class="statistics-panel__title">Positive vs Negative Transactions Count (last 30d)</div>
    <canvas id="transactions-positive-vs-negative-count-chart"></canvas>
</div>
