
<div class="statistics-panel">

    <div class="statistics-panel__title">Positive vs Negative Transactions Amount (last 30d)</div>
    <canvas id="transactions-positive-vs-negative-amount-chart"></canvas>
</div>
