{% extends "bot/layout.html" %}
{% load static %}

{% block title %}Statistics{% endblock %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-statistics/pg-statistics-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-statistics/minimal-journal-entry-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-statistics/common-check-errors-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-statistics/network-stats-styles.css' %}" />
{% endblock %}

{% block content %}

    <div class="main-container">

        <!-- Daily Statistics -->
        <div class="statistics-page__section">
            <div class="statistics-page__section-title">Daily Statistics</div>
            <div class="statistics-page__section-panels">
                {% include 'bot/panels-statistics/daily-stats/panel-latest-journal-entries.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-daily-profit.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-apy-trend.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-checks-trend.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-check-durations.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-transactions-trend.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-transactions-pos-vs-neg-count.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-transactions-pos-vs-neg-amount.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-transactions-successful-vs-not.html' %}
                {% include 'bot/panels-statistics/daily-stats/panel-chart-daily-fees.html' %}
            </div>
        </div>

        <!-- Transaction Statistics -->
        <div class="statistics-page__section">
            <div class="statistics-page__section-title">Transaction Statistics</div>
            <div class="statistics-page__section-panels">
                {% include 'bot/panels-statistics/tx-stats/panel-network-stats.html' %} 
                {% include 'bot/panels-statistics/tx-stats/panel-chart-delays.html' %} 
                {% include 'bot/panels-statistics/tx-stats/panel-chart-gas-price.html' %} 
                {% include 'bot/panels-statistics/tx-stats/panel-chart-slippage.html' %} 
            </div>
        </div>

        {% comment %}
        <!-- Check Statistics -->
        <div class="statistics-page__section">
            <div class="statistics-page__section-title">Check Statistics</div>
            <div class="statistics-page__section-panels">
                {% include 'bot/panels-statistics/check-stats/panel-chart-deltas.html' %} 
                {% include 'bot/panels-statistics/check-stats/panel-checks-common-errors.html' %} 
                {% include 'bot/panels-statistics/check-stats/panel-chart-tokens-from.html' %} 
                {% include 'bot/panels-statistics/check-stats/panel-chart-tokens-to.html' %} 
                {% include 'bot/panels-statistics/check-stats/panel-chart-failures.html' %} 
            </div>
        </div>
        {% endcomment %}
    
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    
    <!-- Daily Statistics -->
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/daily_profit_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/daily_apr_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/checks_duration_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/checks_trend_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/transactions_trend_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/transactions_pos_vs_neg_count_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/transactions_pos_vs_neg_amount_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/transactions_successful_vs_not_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/daily-stats/daily_fees_chart_plotter.js' %}"></script>
    
    <!-- Transaction Statistics -->
    <script async src="{% static 'bot/scripts/page-statistics/tx-stats/delays_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/tx-stats/gas_price_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-statistics/tx-stats/slippage_chart_plotter.js' %}"></script>
    

    {% comment %}
    <!-- Check Statistics -->
    <script async src="{% static 'bot/scripts/page-statistics/check-stats/delta_chart_plotter.js' %}"></script> 
    <script async src="{% static 'bot/scripts/page-statistics/check-stats/failures_chart_plotter.js' %}"></script> 
    <script async src="{% static 'bot/scripts/page-statistics/check-stats/token_from_chart_plotter.js' %}"></script> 
    <script async src="{% static 'bot/scripts/page-statistics/check-stats/token_to_chart_plotter.js' %}"></script> 
    {% endcomment %}

{% endblock %}