{% extends "bot/layout.html" %}
{% load static %}

{% block title %}{{total_owned|floatformat:2}}{% endblock %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-details/pg-details-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-details/minimal-check-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-details/minimal-transaction-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-details/token-styles.css' %}" />
{% endblock %}

{% block content %}

    <div class="main-container">
        
        <input id="id-wallet-address" type="hidden" value="{{wallet_address}}"/>
        {% include 'bot/panels-details/panel-owned-amount.html' %}
        {% include 'bot/panels-details/panel-profits.html' %}
        {% include 'bot/panels-details/panel-aprs.html' %}
        {% include 'bot/panels-details/panel-wallet.html' %}
        {% include 'bot/panels-details/panel-transactions.html' %}
        {% include 'bot/panels-details/panel-checks.html' %}
        {% include 'bot/panels-details/panel-chart-amount.html' %}

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

    <script async src="{% static 'bot/scripts/page-details/amount_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-details/reloader.js' %}"></script>
{% endblock %}