{% extends "bot/layout.html" %}
{% load static %}

{% block title %}{{ instance_name }}{% endblock %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-home/pg-home-styles.css' %}" />
{% endblock %}

{% block content %}

    <div class="main-container">
        <div class="page-home">
            
            <div class="page-home__left-container">

                <!-- Logo + title -->
                <div class="page-home__header"> 
                    <div class="page-home__title-container"> 
                        <img class="page-home__logo" src="{% static 'bot/images/logo.png' %}"/>
                        <div class="page-home__title">Stable Swapper Bot</div>
                    </div>
                    <div class="page-home__subtitle page-home__subtitle--with-margin">{{ instance_name }}</div>
                    <div class="page-home__text">Get a passive income. Low risk, no hassle.</div>                    
                </div>

                <!-- Stats + Admin buttons -->
                <div class="page-home__links">
                    <a class="page-home__link" href="/statistics/">Statistics</a>
                    {% if user.is_authenticated and user.is_staff %}
                        <a class="page-home__link" href="/admin/">Admin</a>
                    {% endif %}
                </div>
            </div>

            <!-- Wallets list -->
            <div class="page-home__right-container">
                <!-- Wallets in this instance -->
                <div class="page-home__wallets-list">
                    <div class="page-home__subtitle page-home__subtitle--with-margin" style="margin-bottom:0">Managed Wallets</div>
                    <div class="page-home__text page-home__subtitle--with-margin" style="margin-top:0">(Updated every 10 minutes)</div>

                    {% for wallet_with_stats in wallets_with_stats %}
                    <a href="/bot/details/{{ wallet_with_stats.wallet }}/" class="page-home__wallet-with-profit">
                        <div class="page-home__wallet">
                            {{ wallet_with_stats.wallet|truncatechars:25 }}
                        </div>
                        <div class="page-home__wallet-owned">
                            {{ wallet_with_stats.stats.total_owned|floatformat:2 }}$
                        </div>
                        <div class="page-home__wallet-profit">
                            {% if wallet_with_stats.stats.total_delta_profit_in_transactions > 0 %}+{% endif %}{{ wallet_with_stats.stats.total_delta_profit_in_transactions|floatformat:2 }}$
                        </div>
                    </a>
                    {% endfor %}

                </div>

                <!-- Total owned -->
                <div class="page-home__total-earned-contained">
                    <div class="page-home__text">Total owned:</div>
                    <div class="page-home__subtitle" style="margin-left: 10px">{{ total_owned|floatformat:2 }}$</div>
                </div>
                <!-- Total earned today -->
                <div class="page-home__total-earned-contained" style="margin-top: 0">
                    <div class="page-home__text">Total earned today:</div>
                    <div class="page-home__subtitle" style="margin-left: 10px">{{ total_earned_today|floatformat:2 }}$</div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
