{% extends "bot/layout.html" %}
{% load static %}

{% block title %}Transactions{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-transactions/full-transaction-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-transactions/pg-transactions-styles.css' %}" />
{% endblock %}

{% block content %}

<div class="main-container">

    <div class="transactions-container">

        <!-- header -->
        <div class="details-panel__title">All Transactions</div>
        <a class="details-panel__link" href="{% url 'bots:details' wallet_address %}">Back to dashboard</a>

        <!-- Checks -->
        {% for tx in transactions %}
            {% include 'bot/fragments/full-transaction.html' %}
        {% endfor %}

        <!-- Pagination -->
        <div class="pagination">
            <div class="pagination__links">
                {% if page_obj.has_previous %}
                    <a class="pagination__arrow-link" href="{% url 'bots:transactions-list' wallet_address %}?page={{ page_obj.previous_page_number }}">
                        <div class="pagination__navigation-button pagination__navigation-button--previous"></div>
                    </a>
                {% endif %}
                    <span class="pagination__current-page-text">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                {% if page_obj.has_next %}
                    <a class="pagination__arrow-link" href="{% url 'bots:transactions-list' wallet_address %}?page={{ page_obj.next_page_number }}">
                        <div class="pagination__navigation-button pagination__navigation-button--next"></div>
                    </a>
                {% endif %}
            </div>
        </div>

    </div>

</div>

{% endblock %}
