
.common-check-errors__entry {
    display: grid;
    grid-template-columns: 70px auto;
    margin-bottom: 5px;
}

.common-check-errors__entry:nth-child(even) {
    background-color: #00968811;
}

.common-check-errors__count {
    color: #666;
    font-style: italic;
}
