
/* Container */

.errors-container {
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px #444;
    background-color: #EEE;
    padding: 25px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-content: center;
}

@media screen and (max-width: 1000px) {
    .errors-container {
        padding: 25px 0;
        padding-top: 32px;
    }
}


/* Headers */

.statistics-panel__title {
    font-size: 13px;
    font-style: italic;
    position: absolute;
    top: 5px;
    left: 8px;
    color: #BBB;
}

.statistics-panel__link {
    font-size: 13px;
    font-style: italic;
    position: absolute;
    top: 5px;
    right: 12px;
    color: #BBB;
}


/* Records */

.error {
    display: grid;
    grid-template-columns: 30px auto auto;
    padding: 0px 5px;
    border-radius: 3px;
    padding: 7px 10px;
}

.error:nth-child(even) {
    background-color: #00968811;
}
