
/* Panels containers*/

.statistics-page__section {
    padding: 25px 5px;
    margin-bottom: 35px;
    background-color: #EEEEEE22;
    box-shadow: 2px 2px 10px 0px rgb(68 68 68 / 0.25);
    border-radius: 5px;
}

.statistics-page__section-title {
    color: #EEE;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.statistics-page__section-panels {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
}

@media screen and (max-width: 1000px) {
    .statistics-page__section-panels {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: 1fr;
    }
}

/* Single Panels*/

.statistics-panel {
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #444;
    background-color: #EEE;
    padding: 25px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.statistics-panel--no-justify {
    justify-content: normal;
}

.statistics-panel--no-overflow {
    overflow-y: hidden;
}

.statistics-panel--no-padding {
    padding: 0;
}

.statistics-panel__title {
    font-size: 13px;
    font-style: italic;
    position: absolute;
    top: 5px;
    left: 8px;
    color: #BBB;
}

.statistics-panel__link {
    font-size: 13px;
    font-style: italic;
    position: absolute;
    top: 5px;
    right: 12px;
    color: #BBB;
}
