
<div class="check {% if ck.aborted is not None and not ck.aborted %} check--executed {% endif %}">
    <div class="check__error-icon 
         {% if ck.failed %} check__error-icon--error tooltip__trigger 
         {% elif ck.error %} check__error-icon--issues tooltip__trigger 
         {% else %} check__error-icon--no-error {% endif %}">

        {% if ck.error %} <span class="tooltip__text">{{ck.error}}</span> {% endif %}
    </div>
    
    <div class="check__considered-tokens">
        <div class="check__token-with-amount">
            <div class="check__token-logo">  <img class="token-logo" src="{{ ck.token_to_swap_from.logo_uri}}" /> </div>
            <div class="check__token-name">  {{ ck.token_to_swap_from.symbol}} </div>
            <div class="check__token-amount"> {{ ck.amount_to_swap_from|floatformat:2 }} </div>
        </div>
    
        <div class="check__arrow"></div>
    
        <div class="check__token-with-amount">
            <div class="check__token-logo">  <img class="token-logo" src="{{ ck.token_to_swap_to.logo_uri}}" /> </div>
            <div class="check__token-name">  {{ ck.token_to_swap_to.symbol}} </div>
            <div class="check__token-amount"> {{ ck.amount_to_swap_to|floatformat:2 }} </div>
        </div>
        
        <div class="check__forecasted-amount"> ({% if ck.forecasted_profit > 0 %}+{% endif %}{{ck.forecasted_profit|floatformat:2 }}) </div>
    </div>
        
    <div class="check__other-info">
        <div class="check__amount"> {% if ck.total_owned %} <i>Owned:</i> {{ ck.total_owned|floatformat:2 }} {% else %} - {% endif %} </div>
    
        <div class="check__separator">-</div>
    
        <div class="check__time">
            <div class="check__date"> {{ ck.date|date:"d/m H:i:s" }} </div>
            <div class="check__duration"> ({{ ck.duration_seconds|floatformat:2 }}s) </div>
        </div>
    </div>

</div>