
<div class="transaction {{ tx.get_transaction_css_class_based_on_status }}">
    
    <div class="transaction__considered-tokens">
        <div class="transaction__token-with-amount">
            <div class="transaction__token-logo">  <img class="token-logo" src="{{ tx.token_from.logo_uri}}" /> </div>
            <div class="transaction__token-name">  {{ tx.token_from.symbol}} </div>
            <div class="transaction__amount"> {{ tx.amount_from|floatformat:2 }} </div>
        </div>
    
        <div class="transaction__arrow"></div>
    
        <div class="transaction__token-with-amount">
            <div class="transaction__token-logo">  <img class="token-logo" src="{{ tx.token_to.logo_uri}}" /> </div>
            <div class="transaction__token-name">  {{ tx.token_to.symbol}} </div>
            <div class="transaction__amount"> {{ tx.amount_to|floatformat:2 }} </div>
        </div>   
    </div>

    <div class="transaction__other-info"> 
    
        <div class="transaction__amounts"> 
            <div class="transaction__forecasted-amount"> (exp: {% if tx.forecasted_profit > 0 %}+{% endif %}{{tx.forecasted_profit|floatformat:2 }} </div>
            <div class="transaction__forecasted-amount"> real: 
                {% if not tx.profit %} /) 
                {% else %} {% if tx.profit > 0 %}+{% endif %}{{tx.profit|floatformat:2 }}) 
                {% endif %}
                </div>
        </div>
    
        <div class="transaction__quote-to-creation-delay">[{{ tx.quotation_to_creation_delay|floatformat:2 }}s]→</div>
        <div class="transaction__date"> {{ tx.date|date:"H:i:s" }} </div>
        {% if tx.delay_in_seconds > -1 %}<div class="transaction__creation-to-exec-delay">→[{{ tx.delay_in_seconds|floatformat:2 }}s]</div>{% endif %}
    
        <div class="transaction__address">
            {% if tx.address %}
                <a href="https://polygonscan.com/tx/{{tx.address}}">Polyscan</a>
            {% else %}
                No hash
            {% endif %}
        </div>
    
    </div>
</div>