
<div class="menu">


    {% if 'detail' in request.path or 'statistics' in request.path %}
        {% url 'bots:home' as home %}
        <a class="menu__entry" href="{{home}}">
            Home
        </a>
    {% else %}
        <a class="menu__entry menu__entry--hive" href="{{ HIVE_URL }}">
            Hive
        </a>
    {% endif %}

</div>
