
<div class="transaction {{ tx.get_transaction_css_class_based_on_status }}">
    
    <div class="transaction__considered-tokens">
        <div class="transaction__token-with-amount">
            <div class="transaction__token-logo">  <img class="token-logo" src="{{ tx.token_from.logo_uri}}" /> </div>
            <div class="transaction__amount"> {{ tx.amount_from|floatformat:2 }} </div>
        </div>
    
        <div class="transaction__arrow"></div>
    
        <div class="transaction__token-with-amount">
            <div class="transaction__token-logo">  <img class="token-logo" src="{{ tx.token_to.logo_uri}}" /> </div>
            <div class="transaction__amount"> {{ tx.amount_to|floatformat:2 }} </div>
        </div>   
    </div>

    <div class="transaction__other-info"> 
    
        <div class="transaction__forecasted-amount"> ({% if tx.profit > 0 %}+{% endif %}{{tx.profit|floatformat:2 }}) </div>    
        <div class="transaction__date"> {{ tx.date|date:"H:i:s" }} </div>    
    </div>
</div>