

<div class="check {% if ck.aborted is not None and not ck.aborted %} check--executed {% endif %}">
    <div class="check__error-icon 
         {% if ck.failed %} check__error-icon--error tooltip__trigger 
         {% elif ck.error %} check__error-icon--issues tooltip__trigger 
         {% else %} check__error-icon--no-error {% endif %}">

        {% if ck.error %} <span class="tooltip__text">{{ck.error}}</span> {% endif %}
    </div>
    
    <div class="check__considered-tokens">
        <div class="check__token-with-amount">
            <div class="check__token-logo">  <img class="token-logo" src="{{ ck.token_to_swap_from.logo_uri}}" /> </div>
            <div class="check__token-amount"> {{ ck.amount_to_swap_from|floatformat:2 }} </div>
        </div>
    
        <div class="check__arrow"></div>
    
        <div class="check__token-with-amount">
            <div class="check__token-logo">  <img class="token-logo" src="{{ ck.token_to_swap_to.logo_uri}}" /> </div>            
            <div class="check__token-amount"> {{ ck.amount_to_swap_to|floatformat:2 }} </div>
        </div>
        
        <div class="check__amount"> ({% if ck.forecasted_profit > 0 %}+{% endif %}{{ck.forecasted_profit|floatformat:2 }}) </div>
    </div>
        
    <div class="check__date"> {{ ck.date|date:"H:i:s" }} </div>        
    
</div>