
<div class="statistics-panel">

    <div class="statistics-panel__title">Network State</div>
    <a class="statistics-panel__link" href="https://gasstation-mainnet.matic.network">Check It Yourself</a>

    <div class="network-stats">        

        <div class="network-stats__line"> 
            <div class="network-stats__label">Block Time:</div>
            <div class="network-stats__value {% if network_statistics.blockTime > 10 %}network-stats__value--alert{% endif %}">
                {{network_statistics.blockTime}}s
            </div>
        </div>
        
        <div class="network-stats__line"> 
            <div class="network-stats__label">Safe:</div>
            <div class="network-stats__value {% if network_statistics.safeLow > 10 %}network-stats__value--alert{% endif %}"> 
                {{network_statistics.safeLow|floatformat:2}}
            </div>
        </div>
        
        <div class="network-stats__line"> 
            <div class="network-stats__label">Standard:</div>
            <div class="network-stats__value {% if network_statistics.standard > 50 %}network-stats__value--alert{% endif %}">
                {{network_statistics.standard|floatformat:2}}
            </div>
        </div>
        
        <div class="network-stats__line"> 
            <div class="network-stats__label">Fast:</div>
            <div class="network-stats__value {% if network_statistics.fast > 150 %}network-stats__value--alert{% endif %}">
                {{network_statistics.fast|floatformat:2}}
            </div>
        </div>
        
        <div class="network-stats__line"> 
            <div class="network-stats__label">Fastest:</div>
            <div class="network-stats__value {% if network_statistics.fastest > 1000 %}network-stats__value--alert{% endif %}">
                {{network_statistics.fastest|floatformat:2}}
            </div>
        </div>

    </div>
</div>
