
body {
    background-color: #EEEEEE;
    user-select: none;
}

.page-home {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    color: #007A6E;
    font-family: montserrat-medium;
}





.page-home__left-container {
}
.page-home__right-container {
}

@media screen and (max-width: 1000px) {
    .page-home {
        grid-template-columns: 1fr;
    }
    .page-home__left-container {
        margin-bottom: 50px;
    }
}


.page-home__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}
.page-home__title-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
}
.page-home__logo {
    height: 75px;
    width: 75px;
}
.page-home__title {
    width: 330px;
    font-size: 45px;
    text-transform: uppercase;
    font-family: montserrat-medium;
}

.page-home__subtitle {
    font-size: 25px;
    font-family: montserrat-medium;
    margin: 10px 0;
}

.page-home__subtitle--with-margin {
    margin: 25px 0;
}

.page-home__subtitle--small {
    font-size: 20px;
}

.page-home__details-list li {
    margin: 15px 0;
}

/** Wallets list */

.page-home__wallets-list {

}

.page-home__external-wallet {
    display: grid;
    grid-template-columns: 200px auto;
}

.page-home__external-wallet-instance-name {
    text-decoration: none;
    color: #004fb0;
    margin-right: 15px;
    font-family: monospace;
    font-size: 16px;
}

.page-home__wallet-with-profit {
    display: grid;
    grid-template-columns: 260px 75px 70px;
    align-items: center;
    text-decoration: none;
    color: #004fb0;
    cursor: pointer;
    width: 400px;
}

.page-home__wallet-with-profit:hover {
    color: #0082f4;
}

.page-home__wallet {
    font-family: monospace;
    font-size: 16px;
}


/* Links */

.page-home__links {
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.page-home__link {
    color: #EEE;
    background-color: #007A6E;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 20px;
}

.page-home__link:hover {
    transform: scale(1.15);
}

/* Total Earned Today */

.page-home__total-earned-contained {
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}