
.menu {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10vw;
    position: relative;
    border-radius: 10px; 
}

.menu__entry {
    color: #EEE;
    text-decoration: none;
    font-size: 25px;
}

.menu__entry:hover {
    transform: scale(1.15);
}

.menu__entry--hive {
    color: #009688;
}

.menu__entry--selected {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .menu {
        justify-content: space-evenly;
        gap: 0;
    }    

    .menu__entry {
        font-size: 20px;
    }
}
