
body {
    background-color: #009688;
}

.main-container {
    padding: 50px 11vw;
}

@media screen and (max-width: 1000px) {
    .main-container {
        padding: 20px 0;
    }
}

/* Pagination */

.pagination {
    margin-top: 25px;
    align-self: center;
}

.pagination__links {
    display: flex;
    flex-direction:row;
}

.pagination__navigation-button {
    height: 20px;
    width: 20px;
    padding: 0 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.pagination__navigation-button--previous {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.667 490.667' style='enable-background:new 0 0 490.667 490.667;' xml:space='preserve'%3E%3Cpath style='fill:%232B7689;' d='M245.333,0C109.839,0,0,109.839,0,245.333s109.839,245.333,245.333,245.333 s245.333-109.839,245.333-245.333C490.514,109.903,380.764,0.153,245.333,0z'/%3E%3Cpath style='fill:%23FAFAFA;' d='M373.333,192H249.749l19.2-19.2c18.893-18.881,18.902-49.503,0.021-68.395 c-0.007-0.007-0.014-0.014-0.021-0.021c-19.179-18.247-49.317-18.181-68.416,0.149L82.219,222.699 c-12.492,12.496-12.492,32.752,0,45.248l118.315,118.187c17.565,20.137,48.13,22.222,68.267,4.656 c20.137-17.565,22.222-48.13,4.656-68.267c-1.445-1.656-3-3.212-4.656-4.656l-19.2-19.2h123.733 c29.455,0,53.333-23.878,53.333-53.333S402.789,192,373.333,192z'/%3E%3C/svg%3E%0A");
}

.pagination__navigation-button--next {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.667 490.667' style='enable-background:new 0 0 490.667 490.667;' xml:space='preserve'%3E%3Cpath style='fill:%232B7689;' d='M245.333,0C109.839,0,0,109.839,0,245.333s109.839,245.333,245.333,245.333 s245.333-109.839,245.333-245.333C490.514,109.903,380.764,0.153,245.333,0z'/%3E%3Cpath style='fill:%23FAFAFA;' d='M290.133,104.533c-19.139-18.289-49.277-18.289-68.416,0c-18.893,18.881-18.902,49.503-0.021,68.395 c0.007,0.007,0.014,0.014,0.021,0.021l19.2,19.2H117.333C87.878,192.149,64,216.027,64,245.483 c0,29.455,23.878,53.333,53.333,53.333h123.584l-19.2,19.2c-17.522,20.175-15.371,50.734,4.804,68.257 c18.259,15.858,45.423,15.799,63.612-0.139l118.251-118.251c12.492-12.496,12.492-32.752,0-45.248L290.133,104.533z'/%3E%3C/svg%3E%0A");
}

.pagination__current-page-text {
    font-size: 13px;
    font-style: italic;
    color: #BBB;
}


/* Token Images */

.token-logo {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.token-logo--medium {
    height: 28px;
    width: 28px;
}

.token-logo--big {
    height: 40px;
    width: 40px;
}

/* Toolitp */

.tooltip__trigger {
    position: relative;
}

.tooltip__trigger .tooltip__text {
    visibility: hidden;
    width: 250px;
    background-color: #333D;
    color: #eee;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip__trigger:hover .tooltip__text {
    visibility: visible;
}