{% extends "bot/layout.html" %}
{% load static %}

{% block title %}Statistics{% endblock %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'statistics/styles/pg-statistics-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'statistics/styles/common-errors-styles.css' %}" />
{% endblock %}

{% block content %}

    <div class="main-container">

        <!-- Daily Statistics -->
        <div class="statistics-page__section">
            <div class="statistics-page__section-title">General Statistics</div>
            <div class="statistics-page__section-panels">
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-daily-profit.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-apy-trend.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-checks-trend.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-check-durations.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-transactions-trend.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-transactions-pos-vs-neg-count.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-transactions-pos-vs-neg-amount.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-transactions-successful-vs-not.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-tx-volumes.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-topup-amounts.html' %}
                {% include 'statistics/panels-statistics/daily-stats/panel-chart-daily-fees.html' %}
            </div>
        </div>

        <!-- Transaction Statistics -->
        <div class="statistics-page__section">
            <div class="statistics-page__section-title">Transaction Statistics</div>
            <div class="statistics-page__section-panels">
                {% include 'statistics/panels-statistics/tx-stats/panel-chart-delays.html' %} 
                {% include 'statistics/panels-statistics/tx-stats/panel-chart-gas-price.html' %} 
                {% include 'statistics/panels-statistics/tx-stats/panel-chart-slippage.html' %} 
                {% include 'statistics/panels-statistics/tx-stats/panel-chart-rpc-success-rate.html' %} 
            </div>
        </div>

        <!-- Check Statistics -->
        <div class="statistics-page__section">
            <div class="statistics-page__section-title">Check Statistics</div>
            <div class="statistics-page__section-panels">
                {% include 'statistics/panels-statistics/check-stats/panel-checks-common-errors.html' %}
                {% include 'statistics/panels-statistics/check-stats/panel-chart-failures.html' %}
            </div>
        </div>

        <!-- Runners Statistics -->
        <div class="statistics-page__section">
            <div class="statistics-page__section-title">Runners Statistics</div>
            <div class="statistics-page__section-panels">
                {% include 'statistics/panels-statistics/runners-stats/panel-runners-common-errors.html' %}
                {% include 'statistics/panels-statistics/runners-stats/panel-runners-failures.html' %}
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    
    <!-- Daily Statistics -->
    <script async src="{% static 'statistics/scripts/daily-stats/daily_profit_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/daily_apr_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/checks_duration_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/checks_trend_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/transactions_trend_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/transactions_pos_vs_neg_count_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/transactions_pos_vs_neg_amount_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/transactions_successful_vs_not_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/daily_fees_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/daily_topup_amounts_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/daily-stats/daily_volumes_chart_plotter.js' %}"></script>
        
    <!-- Transaction Statistics -->
    <script async src="{% static 'statistics/scripts/tx-stats/delays_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/tx-stats/gas_price_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/tx-stats/slippage_chart_plotter.js' %}"></script>
    <script async src="{% static 'statistics/scripts/tx-stats/rpcs_success_rate.js' %}"></script>
    
    <!-- Check Statistics -->
    <script async src="{% static 'statistics/scripts/check-stats/failures_chart_plotter.js' %}"></script>     

    <!-- Runners Statistics -->
    <script async src="{% static 'statistics/scripts/runners-stats/runners_failures_chart_plotter.js' %}"></script>     

{% endblock %}