{% extends "bot/layout.html" %}
{% load static %}

{% block title %}Check Errors{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'statistics/styles/pg-errors-styles.css' %}" />
{% endblock %}

{% block content %}

<div class="main-container">

    <div class="errors-container">

        <!-- header -->
        <div class="statistics-panel__title">All Check Errors</div>
        <a class="statistics-panel__link" href="{% url 'statistics:statistics' %}">Back to statistics</a>

        <!-- Checks -->
        {% for error in errors %}
            {% include 'statistics/fragments/error.html' %}
        {% endfor %}        

    </div>

</div>

{% endblock %}