.transaction {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 1px;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
    border-radius: 3px;
}

.transaction__considered-tokens {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
}

.transaction__other-info {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}


@media screen and (max-width: 1000px) {
    .transaction__considered-tokens {
    gap: 5px;
    }
}

.transaction__token-with-amount {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    height: 25px;
    width: 85px;
    border-radius: 5px;
    padding: 5px;
}

.transaction__arrow {
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.667 490.667' style='enable-background:new 0 0 490.667 490.667;' xml:space='preserve'%3E%3Cpath style='fill:%23009688AA;' d='M466.219,237.781L231.552,3.115C229.548,1.115,226.831-0.005,224,0H32 c-5.891-0.011-10.675,4.757-10.686,10.648c-0.005,2.84,1.123,5.565,3.134,7.571l227.136,227.115L24.448,472.448 c-4.171,4.16-4.179,10.914-0.019,15.085c2.006,2.011,4.731,3.139,7.571,3.134h192c2.831,0.005,5.548-1.115,7.552-3.115 l234.667-234.667c4.171-4.16,4.179-10.914,0.019-15.085C466.231,237.794,466.225,237.788,466.219,237.781z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}

.transaction__token-logo {
    height: 20px;
}

.transaction--waiting {
    background-color: #FFEBAD80;
}
.transaction--confirmed {
    background-color: #BFEEE680;
}
.transaction--failed {
    background-color: rgb(253 52 69 / 0.15);
}
.transaction--not-found {
    background-color: rgb(255 53 152 / 0.15);
}
.transaction--uncertain {
    background-color: #C1E6EB80;
}

.transaction__amounts {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    white-space: nowrap;
}

.transaction__date {
    font-style: italic;
}