.check {
    display: grid;
    grid-template-columns: 30px auto auto;
    grid-template-areas: "resulticon consideredtokens otherinfo";
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 25px;
    border-radius: 3px;
}

.check__considered-tokens {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
    grid-area: consideredtokens;
}

.check__token-with-amount {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0;
    height: 25px;
    width: 73px;
    border-radius: 5px;
    padding: 5px;    
    border: none;
}

@media (max-width: 1000px) {
    .check {
        padding: 2px 10px;
    }
    .check__considered-tokens {
        gap: 0px;
    }
}

.check__token-logo {
    height:20px;
}

.check__token-name {
    font-style: italic;
}

.check__token-amount {
    margin-left: auto;
}

.check__error-icon {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    grid-area: resulticon;
}

.check__arrow {
    height: 15px;
    width: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.667 490.667' style='enable-background:new 0 0 490.667 490.667;' xml:space='preserve'%3E%3Cpath style='fill:%23009688AA;' d='M466.219,237.781L231.552,3.115C229.548,1.115,226.831-0.005,224,0H32 c-5.891-0.011-10.675,4.757-10.686,10.648c-0.005,2.84,1.123,5.565,3.134,7.571l227.136,227.115L24.448,472.448 c-4.171,4.16-4.179,10.914-0.019,15.085c2.006,2.011,4.731,3.139,7.571,3.134h192c2.831,0.005,5.548-1.115,7.552-3.115 l234.667-234.667c4.171-4.16,4.179-10.914,0.019-15.085C466.231,237.794,466.225,237.788,466.219,237.781z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}

.check__error-icon--error {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cellipse style='fill:%23E04F5F;' cx='256' cy='256' rx='256' ry='255.832'/%3E%3Cg transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 77.26 32)'%3E%3Crect x='3.98' y='-427.615' style='fill:%23FFFFFF;' width='55.992' height='285.672'/%3E%3Crect x='-110.828' y='-312.815' style='fill:%23FFFFFF;' width='285.672' height='55.992'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.check__error-icon--issues {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m512 256c0 68.109375-26.441406 132.210938-74.449219 180.5-47.980469 48.25-111.851562 75.058594-179.871093 75.488281-.167969 0-.351563.011719-.519532 0-.378906.011719-.769531.011719-1.160156.011719-68.371094 0-132.660156-26.621094-181.011719-74.980469-48.359375-48.347656-74.988281-112.640625-74.988281-181.019531s26.628906-132.660156 74.988281-181.019531c48.351563-48.351563 112.640625-74.980469 181.011719-74.980469.390625 0 .769531 0 1.160156.0117188.179688 0 .359375 0 .539063.0078124 68.011719.4414068 131.878906 27.2421878 179.851562 75.4921878 48.007813 48.289062 74.449219 112.386719 74.449219 180.488281zm0 0' fill='%23ffcc33'/%3E%3Cpath d='m257.265625 107.804688c.417969-.007813-.363281 0 0 0zm0 0'/%3E%3Cpath d='m299.921875 150.460938v114.4375c0 23.523437-19.132813 42.660156-42.652344 42.660156h-.109375c-10.988281-.320313-22.332031-4.757813-30.058594-12.488282-8.050781-8.058593-12.492187-18.769531-12.492187-30.171874v-114.4375c0-23.261719 19.3125-41.992188 42.550781-42.660157h.109375c23.519531 0 42.652344 19.140625 42.652344 42.660157zm0 0' fill='%23fff'/%3E%3Cpath d='m257.265625 307.5625c-.363281 0 .363281.007812 0 0zm0 0'/%3E%3Cpath d='m297.640625 361.640625c0 22.269531-18.109375 40.378906-40.378906 40.378906h-.101563c-22.210937-.050781-40.269531-18.140625-40.269531-40.378906 0-22.230469 18.058594-40.320313 40.269531-40.371094h.101563c22.269531 0 40.378906 18.109375 40.378906 40.371094zm0 0' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.check__error-icon--no-error {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cellipse style='fill:%2332BEA6;' cx='256' cy='256' rx='256' ry='255.832'/%3E%3Cpolygon style='fill:%23FFFFFF;' points='235.472,392.08 114.432,297.784 148.848,253.616 223.176,311.52 345.848,134.504 391.88,166.392 '/%3E%3C/svg%3E%0A");
}

.check--executed {
    background-color: #BFEEE6;
}

.check__date {
    padding-left: 10px;
    font-style: italic;
}