
.main-container {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    grid-template-areas:
        "h1 h1 h2 h2 h3 h3"
        "tokens tokens tokens chamount chamount chamount"
        "tokens tokens tokens chamount chamount chamount"
        "tx tx tx ck ck ck"
        "tx tx tx ck ck ck"
        "tx tx tx ck ck ck"
        "tx tx tx ck ck ck"
}

@media screen and (max-width: 1000px) {
    .main-container {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto);
        grid-template-areas:
            "h1 h1"
            "h2 h3"
            "tokens tokens"
            "tokens tokens"
            "chamount chamount"
            "chamount chamount"
            "tx tx"
            "tx tx"
            "tx tx"
            "tx tx"
            "ck ck"
            "ck ck"
            "ck ck"
            "ck ck"
    }
}

.details-panel {
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px #444;
    background-color: #EEE;
    padding: 25px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.details-panel--no-padding {
    padding: 0;
}

.details-panel--h1 {
    grid-area: h1;
}

.details-panel--h2 {
    grid-area: h2;
}

.details-panel--h3 {
    grid-area: h3;
}

.details-panel--tx {
    grid-area: tx;
    justify-content: normal;
}

.details-panel--ck {
    grid-area: ck;
    justify-content: normal;
}

.details-panel--ch1 {
    grid-area: ch1;
}

.details-panel--ch2 {
    grid-area: ch2;
}

.details-panel--ch-amount {
    grid-area: chamount;
}

.details-panel--tokens {
    grid-area: tokens;
}

.details-panel--token-from-pie {
    grid-area: tokenfrompie;
}

.details-panel--token-to-pie {
    grid-area: tokentopie;
}

.details-panel__title {
    font-size: 13px;
    font-style: italic;
    position: absolute;
    top: 5px;
    left: 8px;
    color: #BBB;
}

.details-panel__link {
    font-size: 13px;
    font-style: italic;
    position: absolute;
    top: 5px;
    right: 12px;
    color: #BBB;
}

.details-panel__text {
    text-align: center;
}

.details-panel__text--line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.details-panel__text--small {
    font-size: 25px;
    font-style: italic;
}

.details-panel__text--mid {
    font-size: 30px;
    font-weight: bold;
}

.details-panel__text--big {
    font-size: 50px;
    font-weight: bold;
}

.details-panel__text--huge {
    font-size: 65px;
    font-weight: bold;
}



@media screen and (max-width: 700px) {
    .details-panel__text--small {
        font-size: 20px;
    }
    .details-panel__text--mid {
        font-size: 20px;
        font-weight: normal;
    }
    .details-panel__text--big {
        font-size: 30px;
    }
}

.details-panel__text--green {
    color: #018E42;
}

.details-panel__text--red {
    color: #BF1A2F;
}

.details-panel__owned-amount-with-token-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}