
<div class="details-panel details-panel--no-padding details-panel--h2">

    <div class="details-panel__title">Weekly Profits (since {{ initial_date|date:"d/m H:i" }})</div>

    <div class="details-panel__text details-panel__text--big {% if profit_perc > 0 %} details-panel__text--green {% else %} details-panel__text--red {% endif %}"> 
        {% if profit_abs > 0 %}+{% endif %}
        {{ profit_abs|floatformat:2 }} $
    </div>

    <div class="details-panel__text details-panel__text--small {% if profit_perc > 0 %} details-panel__text--green {% else %} details-panel__text--red {% endif %}"> 
        ({% if profit_abs > 0 %}+{% endif %}
        {{ profit_perc|floatformat:2 }} % )
    </div>
</div>
