
<div class="details-panel details-panel--no-padding details-panel--tx">
    
    <div class="details-panel__title">Latest Transactions</div>
    <a class="details-panel__link" href="{% url 'bots:transactions-list' wallet_address %}">See all transactions</a>

    <div style="margin-top:30px"></div>

    {% for tx in latest_transactions %}
        {% include 'bot/fragments/minimal-transaction.html' %}
    {% endfor %}

</div>