
<div class="details-panel details-panel--no-padding details-panel--h3">

    <div class="details-panel__title">Interest Rates</div>

    <div class="details-panel__text details-panel__text--mid {% if profit_perc > 0 %} details-panel__text--green {% else %} details-panel__text--red {% endif %}"> 
        {% if profit_abs > 0 %}+{% endif %}
        {{ APR|floatformat:2 }} % APR
    </div>

    <div class="details-panel__text details-panel__text--mid {% if profit_perc > 0 %} details-panel__text--green {% else %} details-panel__text--red {% endif %}"> 
        {% if profit_abs > 0 %}+{% endif %}
        {{ daily_APR|floatformat:2 }} % Daily
    </div>
</div>
