
<div class="details-panel details-panel--no-padding details-panel--ck">

    <div class="details-panel__title">Latest Checks</div>
    <a class="details-panel__link" href="{% url 'bots:checks-list' wallet_address %}">See all checks</a>
    
    <div style="height:30px"></div>

    {% for ck in latest_checks %}
        {% include 'bot/fragments/minimal-check.html' %}    
    {% endfor %}

</div>