
<div class="details-panel details-panel--no-padding details-panel--h1">
    
    <div class="details-panel__title">Owned Amount (reference: {{initial|floatformat:2}} $)</div>

    <div class="details-panel__text details-panel__text--huge {% if profit_abs > 0 %} details-panel__text--green {% else %} details-panel__text--red {% endif %}">
        {{ total_owned|floatformat:2 }} $        
    </div>

</div>